<p-panel header="Rick and Morty">
    <app-filtro [activeIndex]="activeIndex" (pesquisar)="pesquisar($event)"></app-filtro> 
    <p-tabView [(activeIndex)]="activeIndex" (onChange)="changeTab($event)">
        <p-tabPanel header="Dashboard">
            <app-dashboard></app-dashboard>
        </p-tabPanel>
        <p-tabPanel header="Personagens" >
            <ng-template pTemplate="content"> <!-- lazy-load -->
                <app-personagem (setTotalRecords)="setTotalRecords($event)"></app-personagem>
            </ng-template>
        </p-tabPanel>
        <p-tabPanel header="Locais">
            <ng-template pTemplate="content"> <!-- lazy-load -->
                <app-locais (setTotalRecords)="setTotalRecords($event)"></app-locais>
            </ng-template>
        </p-tabPanel>
        <p-tabPanel header="Episódios">
            <ng-template pTemplate="content"> <!-- lazy-load -->
                <app-episodios (setTotalRecords)="setTotalRecords($event)"></app-episodios>
            </ng-template>
        </p-tabPanel>
        <div class="noResponse" *ngIf="errorCode == 404">
            Nenhum dado encontrado
        </div>
        <div class="paginator" *ngIf="activeIndex != 0">
            <p-paginator 
                (onPageChange)="onPageChange($event)" 
                [rows]="20" 
                [totalRecords]="totalRecords" />
        </div>
    </p-tabView>
</p-panel>