<p-panel header="Header">
    <p-tabView [activeIndex]="2">
        <p-tabPanel header="Personagens">
            <ng-template pTemplate="content"> <!-- lazy-load -->
                <app-personagem></app-personagem>
            </ng-template>
        </p-tabPanel>
        <p-tabPanel header="Locais">
            <ng-template pTemplate="content"> <!-- lazy-load -->
                <app-locais></app-locais>
            </ng-template>
        </p-tabPanel>
        <p-tabPanel header="Episódios">
            <ng-template pTemplate="content"> <!-- lazy-load -->
                <app-episodios></app-episodios>
            </ng-template>
        </p-tabPanel>
    </p-tabView>
</p-panel>