img {
    max-width: 100px;
    max-height: 100px;
}

.card {
    padding: 10px;

    &:hover {
        cursor: pointer;
        transition: all 0.3s;
        filter: brightness(120%);

        ::ng-deep { // não aplica o brilho aos componentes do card
            img, .botoes, .data {
                transition: all 0.3s;
                filter: brightness(80%);
            }

        }
    }

    .linhaCard {
        display: grid;
        grid-template-columns: auto 6fr 3fr;
    
        .data, .botoes {
            align-content: center;
        }
    
        .botoes {
            grid-column-end: none;
        }
    
        .nome {
            margin-left: 20px;
        }
    }
}
