<ng-container *ngIf="personagens$ | async as dados">
    <p-card *ngFor="let item of dados.results" class="card">
        <div class="linhaCard" >
            <div>
                <img [src]="item.image" [alt]="item.name" />
            </div>
            <div class="data">
                <div class="nome">{{ item.name }}</div>
            </div>
            <div class="botoes">
                <p-button label="Visualizar informações" /> 
            </div>
        </div>
    </p-card>
</ng-container>