.container {
    p-card {
        padding: 5px;
    }

    b {
        color: var(--themecolor);
    }

    .line1 {
        display: flex;
        width: 100%;

        .card-l1 {
            flex: 1;
            text-align: center;

            &.lmaior {
                flex: 2 !important;
            }
        }


        .generos {
            display: flex;
            flex-direction: row;

            .generoDiv {
                flex: 1;
            }
        }
    }
}

