<div class="container m-0 mw-100">
    <div class="row mb-3 px-2 gap-2">
        <p-card class="col container m-0 p-0 mw-100 text-center" [style]="{height: '150px', 'align-content': 'center'}">
            <p>Total de personagens:</p>
            <p><b *ngIf="personagens$ | async as data">{{ data.info.count }}</b></p>
        </p-card>
        <p-card class="col container m-0 p-0 mw-100 text-center" [style]="{height: '150px', 'align-content': 'center'}">
            <p>Total de locais:</p>
            <p><b *ngIf="locais$ | async as data">{{ data.info.count }}</b></p>
        </p-card>
        <p-card class="col container m-0 p-0 mw-100 text-center" [style]="{height: '150px', 'align-content': 'center'}">
            <p>Total de episódios:</p>
            <p><b *ngIf="episodios$ | async as data">{{ data.info.count }}</b></p>
        </p-card>
        <p-card class="col container m-0 p-0 mw-100 text-center" [style]="{height: '150px', 'align-content': 'center'}">
            <div>
                <p>Total de planetas:</p>
                <p><b *ngIf="qtdPlanetas$ | async as data">{{ data.info.count }}</b></p>
            </div>
        </p-card>
    </div>
    <div class="row">
        <p-card class="col-9" [style]="{height: '500px'}">
            <div class="container">
                <p class="row">Quantidade de personagens que aparecem nos episódios: </p>
                <div class="row container">
                    <p-button 
                    class="col-1 button"
                    severity="success" 
                    [style]="{'border-radius': '4px'}"
                    [disabled]="pageEpisodes == 1" 
                    (click)="changePageEpisode('dw')"
                    icon="pi pi-arrow-left">
                    </p-button>
                    <p-button 
                    class="col-1 button"
                    severity="success" 
                    [style]="{'border-radius': '4px'}"
                    [disabled]="data.results.length < 20"
                    *ngIf="episodios$ | async as data" 
                    (click)="changePageEpisode('up')"
                    icon="pi pi-arrow-right">
                    </p-button>
                    <div class="col-10"></div> <!-- espaçamento -->
                </div>
            </div>
            <p-chart type="line" [data]="dataBarras" [options]="optionsBarras"/>
        </p-card>
        <p-card class="col-3" [style]="{height: '500px'}">
            <p>Personagens por gênero:</p>
            <p-chart type="doughnut" [data]="dataDonnut" [options]="optionsDonnut"/>
        </p-card>
    </div>
</div>
