.container {
    p-card {
        padding: 5px;
    }

    b {
        color: var(--themecolor);
    }

    .line1 {
        display: flex;
        width: 100%;

        .card-l1 {
            flex: 1;
            text-align: center;

            &.lmaior {
                flex: 2 !important;
            }
        }


        .generos {
            display: flex;
            flex-direction: row;

            .generoDiv {
                flex: 1;
            }
        }
    }

    .line2 {
        display: flex;
        width: 100%;

        .lineheade2 {
            display: flex ;

            .controle, p-button {
                align-self: center;
                padding-left: 10px;
            }
        }

        .parte1 {
            flex: 3;
        }

        .parte2 {
            flex: 1;
        }
    }
}

