<ng-container *ngIf="locais$ | async as dados"> 
    <p-card *ngFor="let item of dados.results" class="card" (click)="goto(item.id)">
        <div class="linhaCard">
            <div class="data">
                <div class="nome"><p><b>Nome do planeta:</b></p>{{ item.name }}</div>
            </div>
            <div class="data">
                <div class="tipo"><p><b>Tipo de planeta:</b></p>{{ item.type }}</div>
            </div>
            <div class="data">
                <div class="tipo"><p><b>Dimensão:</b></p>{{ item.dimension }}</div>
            </div>
            <div class="botoes">
                <p-button label="Visualizar informações" severity="success"/> 
            </div>
        </div>
    </p-card>
    <div class="paginator">
        <p-paginator 
            *ngIf="locais$ | async as dados"
            (onPageChange)="onPageChange($event)" 
            [first]="first"
            [rows]="20" 
            [totalRecords]="dados.info.count" />
    </div>
</ng-container>