.filtroAccordion {
    .filtros {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(2, 1fr);
        gap: 20px;

        label {
            width: 50px;
        }

        .item:nth-child(1),
        .item:nth-child(2),
        .item:nth-child(3) {
        grid-row: 1 / span 1;
        }

        .item:nth-child(4),
        .item:nth-child(5) {
        grid-row: 2 / span 1;
        }
    }

    .actions {
        display: grid;
    }
}

.card {
    padding: 10px;

    b {
        color: var(--themecolor);
    }

    &:hover {
        cursor: pointer;
        transition: all 0.3s;
        filter: brightness(120%);

        ::ng-deep { // não aplica o brilho aos componentes do card
            img, .botoes, .data {
                transition: all 0.3s;
                filter: brightness(80%);
            }

        }
    }

    .linhaCard {
        display: grid;
        grid-template-columns: 3fr 3fr 3fr 3fr;
    
        .data, .botoes {
            align-content: center;
            padding-right: 30px;
        }
    
        .botoes {
            grid-column-end: none;
        }
    
        .nome {
            margin-left: 20px;
        }
    }
}

::ng-deep {
    .p-accordion-content {
        display: flex;
        gap: 20px;
    }
}