.grid {
    display: grid;
    grid-template-columns: 1fr 1fr; 
    grid-template-rows: 1fr 1fr; 

    .parte {
        align-content: center;
        max-width: 300px;
        max-height: 300px;
    }

    .foto {
        display: block;
    }

    .texto {
        padding-left: 20px;
    }

    .detalhes2 {
        background-color: #9ad052;
        padding-left: 0px !important;
        b {
            color: rgba(255, 255, 255, 0.87);
        }

        .detalhes2Interno {
            align-items: center;
            place-content: center;

            .detalhes2InternoLinha {
                display: flex;
                place-content: center;

                p-button {
                    padding-left: 5px;
                }
            }
        }
    }
}

b {
    color: #9ad052;
}

.mainCard {
    max-width: 600px;
    max-height: 600px;
    text-align: -webkit-center;
}

::ng-deep {
    .p-card-body, .p-card-content {
        padding: 0px;
    }
}