<ng-container *ngIf="episodios$ | async as dados; else carregando"> 
    <div *ngFor="let item of dados.results" class="container mw-100 m-0 p-0">
        <div (click)="goto(item.id)" class="row mb-2 cardEpisodio">
            <p-card (click)="goto(item.id)">
                <div class="container m-0 p-0 mw-100">
                    <div class="row mb-2 p-2 align-items-center">
                        <div class="col-10 row">
                            <div class="col-4">
                                <div class="nome"><p><b id="bold">Nome do episódio:</b></p>{{ item.name }}</div>
                            </div>
                            <div class="col-4">
                                <div class="tipo"><p><b id="bold">Data de estréia:</b></p>{{ item.air_date | date : 'dd/MM/yy' }}</div>
                            </div>
                            <div class="col-4">
                                <div class="tipo"><p><b id="bold">Episodio:</b></p>{{ item.episode }}</div>
                            </div>
                        </div>
                        <div class="col-2">
                            <p-button [style]="{'border-radius': '4px'}" label="Visualizar informações" severity="success"/> 
                        </div>
                    </div>
                </div>
            </p-card>
        </div>
    </div>
</ng-container>
<ng-template #carregando>
    <div class="loading">
        <p-progressSpinner ariaLabel="loading" />
    </div>
</ng-template>