<ng-container *ngIf="episodios$ | async as dados"> 
    <p-accordion class="filtroAccordion" [activeIndex]="activeIndex">
        <p-accordionTab header="Filtros">
            <div class="filtros">
                <div class="item">
                    <label> Nome: </label>
                    <input type="text" pInputText [(ngModel)]="nomeFiltro" placeholder="The Ricklantis Mixup"/>
                </div>
                <div class="item">
                    <label> Episódio: </label>
                    <input type="text" pInputText [(ngModel)]="episodeFiltro" placeholder="S03E07"/>
                </div>
            </div>
            <div class="actions">
                <p-button (click)="limparFiltros()" severity="success" [style]="{ width: '100%', 'place-content': 'center'}">Limpar filtros</p-button>
                <p-button (click)="filtrar()" severity="success" [style]="{ width: '100%', 'place-content': 'center'}">Filtrar</p-button>
            </div>
        </p-accordionTab>
    </p-accordion>
    <p-card *ngFor="let item of dados.results" class="card" (click)="goto(item.id)">
        <div class="linhaCard">
            <div class="data">
                <div class="nome"><p><b>Nome do episódio:</b></p>{{ item.name }}</div>
            </div>
            <div class="data">
                <div class="tipo"><p><b>Data de estréia:</b></p>{{ item.air_date | date : 'dd/MM/yy' }}</div>
            </div>
            <div class="data">
                <div class="tipo"><p><b>Episodio:</b></p>{{ item.episode }}</div>
            </div>
            <div class="botoes">
                <p-button label="Visualizar informações" severity="success"/> 
            </div>
        </div>
    </p-card>
</ng-container>